body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style:normal;
    height: 100vh;
    background-color: #322c2b;
    margin: 0;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 500px;
}

.usuario-card {
    background-color: #E4C59E;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.usuario-card h3 {
    margin: 0;
    font-size: 1.2em;
}

.usuario-card p {
    margin: 5px 0;
}

.horarios-container {
    background-color: #E4C59E;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: block;
}

.horarios-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.horario {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 7px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #af8260;
    color: white;
    transition: background-color 0.9s;
}

.horario.ocupado {
    background-color: #ff0000;
}

.horario:hover {
    background-color: #803b3d;
}
