* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F4EEE0;
    --secondary-color: #6D5D6E;
    --terceary-color: #4F4557;
}

body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style:normal;
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 500px;
}

.usuario-card {
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.usuario-card h3 {
    margin: 0;
    font-size: 1.2em;
}

.usuario-card p {
    margin: 5px 0;
}

.horarios-container {
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: block;
}

.horarios-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.horario {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 7px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: var(--terceary-color);
    color: var(--primary-color);
    transition: scale 0.3s;
}

.horario.ocupado {
    background-color: #ff0000;
}

.horario:hover {
    scale: 1.1;
    box-shadow: 0 0 10px var(--primary-color);
}
