* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F4EEE0;
    --secondary-color: #6D5D6E;
    --terceary-color: #4F4557;
    --font-titulo: "Rampart One", sans-serif; 
}

body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 500px;
    height: 100vh;
}

.usuario-card {
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
    display: block;
}

.usuario-card h3 {
    margin: 0;
    font-size: 1.5em;
    color: var(--terceary-color);
}

.usuario-card p, .agradecimento-card p {
    margin: 5px 0;
    color: var(--primary-color);
}

.horarios-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: block;
}

.horarios-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.horario {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#divMsnDeSucesso {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4rem;
    justify-content: center;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: rotateIn 1s ease-in-out;
    transition: ease-out;
}

@keyframes rotateIn {
    0% {
        visibility: hidden;
        transform: rotateY(0deg);
    }
    100% {
        visibility: visible;
        transform: rotateY(360deg);
    }
}

#msnDeSucesso {
    font-size: 1.3rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

#novoAgendamento {
    display: none;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

button:hover {
    background-color: var(--terceary-color);
    scale: 1.1;
}
