body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style:normal;
    height: 100vh;
    background-color: #322c2b;
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 500px;
}

.usuario-card {
    background-color: #E4C59E;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.usuario-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.usuario-card p, .agradecimento-card p {
    margin: 5px 0;
    color: #555;
}

.horarios-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: block;
}

.horarios-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.horario {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#divMsnDeSucesso {
    display: none;
    width: 80%;
    justify-content: center;
    color: #333;
    background: #E4C59E;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#msnDeSucesso {
    font-size: 1.3rem;
    text-align: center;
}

.show {
    display: block;
    animation: rotateIn 2s ease-in-out;
    transition: ease-in
    ;
}

@keyframes rotateIn {
    from {
        opacity: 0;

        transform: rotateY(360deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

#novoAgendamento {
    display: none;
}

button {
    background-color: #af8260;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #803B3D;
}
