* {
    padding: 0;
    margin: 0;
}

#container {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../imagens/PlanoDeFundo.avif');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#InputPassword {
    position: relative;
    z-index: 2;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(55px);
    background-color: transparent;
    border-radius: 20px;
}

.cardCliente button {
    font-size: 0.7rem;
    color: black;
    width: 9rem;
    height: 1.2rem;
    margin: 1rem auto;
    backdrop-filter: blur;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 25px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 1;
    letter-spacing: 0.8px;
    box-shadow: 0 0 7px white;
}

#cadastro div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    letter-spacing: 0.8px;
}

#cadastro div input {
    width: auto;
    height: 1.5rem;
    color: white;
    font-size: 1.2rem;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    backdrop-filter: blur(0px);
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
}

#cadastro div label {
    font-size: 1.2rem;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    letter-spacing: 0.8px;
}

#btnLogin {
    font-size: 1rem;
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: #AF8260;
    border: 1px solid transparent;
    border-radius: 25px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.8px;
    box-shadow: 0 0 7px #E4C59E;
}

#btnLogin:hover {
    cursor: pointer;
    scale: 1.1;
}

#btnVoltar {
    color: #AF8260;
    font-size: 2rem;
    display: flex;
    align-items: end;
}

#btnVoltar i:hover {
    cursor: pointer;
    scale: 1.1;
}

hr {
    color: #E4C59E;
}