
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../imagens/PlanoDeFundo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: black;
}

#tituloData {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.7rem;
    color: #E4C59E;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 0 10px;
    margin: 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(20px);
    background-color: transparent;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tituloData h1 {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cabecalhoMes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#proximoMes,
#mesAnterior {
    border: none;
    font-size: 1.5rem;
    background-color: #AF8260;
    color: #E4C59E;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dia-passado {
    color: #ccc; /* Cor cinza para indicar que está desativado */
    pointer-events: none; /* Desabilitar clique */
}

.calendario {
    backdrop-filter: blur(55px);
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
}

.calendario h2 {
    text-align: center;
    margin: 0;
}

.dias-semana {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.dias-semana div,
.dias div {
    width: calc(100% / 7);
    text-align: center;
    padding: 7px 0;
}

.dias {
    display: flex;
    flex-wrap: wrap;
}

.dias div {
    height: 40px;
    line-height: 40px;
}

.dias div:hover {
    cursor: pointer;
    background-color: #AF8260;
}

.dias div:not(:empty) {
    border: 1px solid #E4C59E;
    margin: 2px 2.5px;
    border-radius: 5px;
}

.diaEmBranco {
    margin: 3.5px;
}

@media only screen and (max-width: 480px) {

    .calendario {
        padding: 10px;
        width: 300px;
    }

    .dias div {
        width: 35px;
        height: 25px;
    }

    .dias div:not(:empty) {
        margin: 2px 2.9px;
    }

    .diaEmBranco {
        margin: 3.9px;
    }
}