body {
    margin: 0;
    padding: 0;
}

#agendamento {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    background-image: url('../imagens/PlanoDeFundo.avif');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#agendamento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com opacidade */
    z-index: 1;
}

#cadastro {
    position: relative;
    z-index: 2;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    background-color: rgba(255, 228, 196, 0.411);
    border-radius: 20px;
}

#cadastro div {
    padding: 1rem;
}

#cadastro div input {
    width: 10rem;
    height: 1.5rem;
    color: black;
    font-size: 1.2rem;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(156, 10, 137, 0.068);
    border: 0.5px solid white;
    border-radius: 10px;
    text-align: center;
}

#cadastro div label {
    font-size: 1.2rem;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
    font-style: normal;
}

.btnAgendamento {
    font-size: 1rem;
    color: white;
    width: 12rem;
    height: 2.5rem;
    margin-top: 1rem;
    background: rgba(156, 10, 137, 0.489);
    border-radius: 15px;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
    font-style: normal;
}

#divCancelaAgendamento {
    width: 100%;
    height: auto;
    display: flex;
}

#btnCancelaAgendamento {
    font-size: 0.7rem;
    color: white;
    width: 10rem;
    height: 1.7rem;
    margin: 0.5rem 0 0 50%;
    background: rgba(156, 10, 137, 0.489);
    border-radius: 15px;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
    font-style: normal;
    z-index: 1;
}

#cadastro div button:hover {
    cursor: pointer;
    background: rgb(156, 10, 137);
    scale: 1.1;
}

hr {
    color: white;
    width: 80%;
}

#rodape {
    z-index: 2;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem; /* Tamanho da fonte ajustável */
}